<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configuration>
  <configSections>
    <!--  For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468  -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="SdkPackageConnString" connectionString="Data Source=localhost;Initial Catalog=TypeSDK;User Id=TypeSDK_user;Password=2017.TypeSdk.com" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!-- 
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
   -->
  <system.web>
    <authentication mode="None"/>
    <compilation targetFramework="4.5"/>
    <httpRuntime maxRequestLength="2000000" executionTimeout="300" requestValidationMode="2.0"/>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Optimization"/>
        <add namespace="Microsoft.AspNet.Identity"/>
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
      </controls>
    </pages>
    <membership>
      <providers>
        <!-- 
        已在此模板中禁用 ASP.NET 成员身份。请访问以下链接 http://go.microsoft.com/fwlink/?LinkId=301889，以了解此模板中的 ASP.NET 成员身份支持
         -->
        <clear/>
      </providers>
    </membership>
    <profile>
      <providers>
        <!-- 
        已在此模板中禁用 ASP.NET 成员身份配置文件。请访问以下链接 http://go.microsoft.com/fwlink/?LinkId=301889，以了解此模板中的 ASP.NET 成员身份支持
         -->
        <clear/>
      </providers>
    </profile>
    <roleManager>
      <!-- 
          已在此模板中禁用 ASP.NET 成员身份角色。请访问以下链接 http://go.microsoft.com/fwlink/?LinkId=301889，以了解此模板中的 ASP.NET 成员身份支持
         -->
      <providers>
        <clear/>
      </providers>
    </roleManager>
    <!-- 
            如果要部署到具有多个 Web 服务器实例的云环境，
            则应将会话状态模式从 "InProc" 更改为“自定义”。此外，
            还应将名为 "DefaultConnection" 的连接字符串更改为连接到
            SQL Server (包括 SQL Azure 和 SQL  Compact)实例，而不是连接到 SQL Server Express 实例。
       -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection"/>
      </providers>
    </sessionState>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <!-- <modules>
      <remove name="FormsAuthenticationModule"/>
    </modules> -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647"/>
      </requestFiltering>
    </security>
    <staticContent>
      <mimeMap fileExtension=".ipa" mimeType="application/octet-stream.ipa"/>
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <appSettings>
    <!--  Android Package  -->
    <add key="SDKPackageDir" value="D:\TypeSdk\TypeSdkPackge\typesdk\share\"/>
    <add key="SDKAndroidPackageGameFile" value="D:\TypeSdk\TypeSdkPackge\typesdk\share\game_file\"/>
    <add key="SDKAndroidPackageIcon" value="D:\TypeSdk\TypeSdkPackge\typesdk\share\icon\"/>
    <add key="SDKAndroidPackageConfig" value="D:\TypeSdk\TypeSdkPackge\typesdk\share\config\"/>
    <add key="SDKAndroidPackageApk" value="D:\TypeSdk\TypeSdkPackge\typesdk\share\output\apk\"/>
    <add key="SDKAndroidPackageLogs" value="D:\TypeSdk\TypeSdkPackge\typesdk\share\output\logs\"/>
    <add key="SDKAndroidPackageKey" value="D:\\TypeSdk\\TypeSdkPackge\\typesdk\\share\\signkey\\"/>
    <add key="SDKAndroidPackageKeyMapping" value="D:\\TypeSdk\\TypeSdkPackge\\typesdk\\share\\signkey\\"/>
    <add key="SDKPlatformVersion" value="D:\TypeSdk\TypeSdkPackge\typesdk\share\SDK\Channel_SDK\"/>
    <!--  IOS Package  -->
    <add key="SDKIOSPackageDir" value="\\typesdks-mbp.lan\package_share_ios\"/>
    <add key="SDKIOSPackageGameFile" value="\\typesdks-mbp.lan\package_share_ios\game_file\"/>
    <add key="SDKIOSPackageIcon" value="\\typesdks-mbp.lan\package_share_ios\icon\"/>
    <add key="SDKIOSPackageConfig" value="\\typesdks-mbp.lan\package_share_ios\GameSettings\"/>
    <add key="SDKIOSPackageIPA" value="\\typesdks-mbp.lan\package_share_ios\output\ipa\"/>
    <add key="SDKIOSPackageLogs" value="\\typesdks-mbp.lan\package_share_ios\output\logs\"/>
    <add key="SDKIOSPList" value="\\typesdks-mbp.lan\package_share_ios\GameFile\GameSettingList\chaoshendalu\replaceFile\regularSDKName\"/>
    <!--  Mail  -->
    <add key="SDKPackageLoseEmail_Android" value="abc@123.com"/>
    <add key="SDKPackageLoseEmail_IOS" value="abc@123.com"/>
    <add key="MailHost" value="email.qq.com"/>
    <add key="MailPort" value="25"/>
    <add key="MailSSL" value="true"/>
    <add key="MailAccount" value="abc@abc.com"/>
    <add key="MailPasswd" value="passwd"/>
    <add key="MailSendEmail" value="abc@abc.com"/>
    <add key="MailSendDisplay" value="打包工具"/>
  </appSettings>
</configuration>
