<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.type.sdk.android.huawei"
    android:versionCode="301"
    android:versionName="7.2.1"
    android:installLocation="auto">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="25" />
    
    
    <!-- sdk -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="com.huawei.hwid.permission.ACCESS" />
    <uses-permission android:name="com.huawei.appmarket.provider.readPermission"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- end -->
    
    <application
        android:name="com.type.sdk.application.TypeApplication" >
        
        
        <!-- sdk start -->
        <!-- 浮标依赖的Activity声明，建议将此Activity的屏幕方向与应用的屏幕方向设置为一样的 -->
        <activity
            android:name="com.huawei.gameservice.sdk.view.dialog.NoticeActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            
            android:screenOrientation="sensorLandscape"
            
            android:theme="@style/buoy_baseDialog"/>
        <activity android:name="com.huawei.gameservice.sdk.view.dialog.UpdateActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            
            android:screenOrientation="sensorLandscape"
            
            android:theme="@style/buoy_baseDialog"/>
        <activity
            android:name="com.huawei.gameservice.sdk.view.dialog.BaseDialogActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            
            android:screenOrientation="sensorLandscape"
            
            android:theme="@style/buoy_baseDialog" >
        </activity>
        <activity
            android:name="com.huawei.gameservice.sdk.view.dialog.DownloadProgressDialogActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            
            android:screenOrientation="sensorLandscape"
            
            android:theme="@style/buoy_baseDialog" >
        </activity>
        <activity
            android:name="com.huawei.gameservice.sdk.view.SplashImageActivity"
            
            android:screenOrientation="sensorLandscape"
            
            android:exported="false">
        </activity>
        <activity
            android:name="com.huawei.gameservice.sdk.view.DummyActivity"
            android:exported="false"
            
            android:screenOrientation="sensorLandscape"
            
            android:theme="@style/buoy_baseDialog" >
        </activity>
        <!-- 浮标中下载依赖的广播 -->
        <receiver
            android:name="com.huawei.gameservice.sdk.service.download.DownloadBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
            </intent-filter>
        </receiver>
        <!-- 注意:如果游戏的targetSDK大于等于24时，在游戏中必须申明此Provider，否则影响N版本下使用
        SDK安装华为游戏中心; 如果游戏的targetSDK小于24，则可以不配置此Provider -->
        <!-- 其中android:authorities里“游戏包名”必须要替换为游戏自己包名，否则会导致冲突，游戏无法安装! -->
        <!-- 详细说明请参考SDK接口文档 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="@package@.installnewtype.provider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/buoy_provider_paths" /> </provider>
        <!-- end -->
    </application>
</manifest>
