<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ss.android.game.sdk"
    android:versionCode="306"
    android:versionName="3.0.6" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
    </application>

</manifest>
