<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.type.sdk.android.coolpad"
    android:versionName="2.1.5" 
    android:versionCode="215"
    android:installLocation="auto" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="25" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />
    
	<!-- coolpad账号 sdk -->
	<!-- 数据网络相关权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 接收短信权限 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <!-- SD卡操作权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 系统账户操作权限 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- 系统设置操作权限 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />

    <!-- 漂浮窗 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- 添加DataEye需要申请的权限  start -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<!-- 账号sdk end -->
	
	<!-- 统计 sdk -->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<!-- 统计 end -->
	
	<!-- pay sdk -->
	<!-- 数据网络相关权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 接收短信权限 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <!-- SD卡操作权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 系统账户操作权限 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- 系统设置操作权限 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />

    <!-- 漂浮窗 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
	<!-- pay end -->
	
    <uses-feature android:glEsVersion="0x00020000" />
    <uses-feature android:name="android.hardware.touchscreen" />
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch.distinct"
        android:required="false" />

    <application
        android:name="com.type.sdk.application.TypeApplication"
        android:debuggable="false"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name" >
		
        <activity
            android:name="com.type.sdk.android.coolpad.MainActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:label="@string/app_name"
			android:launchMode="singleTop"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.NoTitleBar" >
			
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>

            <meta-data
                android:name="unityplayer.UnityActivity"
                android:value="true" />
            <meta-data
                android:name="unityplayer.ForwardNativeEventsToDalvik"
                android:value="false" />
        </activity>

        <!-- 酷派账号 SDK singleTask-->
        <!-- local jar -->

        <activity
            android:name="com.coolcloud.uac.android.plug.view.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateVisible" >
        </activity>
        <activity
            android:name="com.coolcloud.uac.android.gameassistplug.GameAssistContentActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.coolcloud.uac.android.api.view.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.coolcloud.uac.android.api.view.AuthenticateActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.coolcloud.uac.android.api.view.FindpwdActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.coolcloud.uac.android.api.view.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.coolcloud.uac.android.api.view.OAuth2Activity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.coolcloud.uac.android.api.view.RegisterActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.coolcloud.uac.android.api.view.RnaDialogActivity"
            android:theme="@style/CoolcloudUacActivityStyle" />
        
        <activity
            android:name="com.coolcloud.uac.android.gameassistplug.GameAssistMessageActivity"
            android:launchMode="singleTop"
            android:theme="@style/CoolcloudUacActivityStyle"/>

        <activity
            android:name="com.coolcloud.uac.android.gameassistplug.GameAssistMsgListActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!-- 接收酷云、酷派账号退出广播 -->
        <receiver android:name="com.coolcloud.uac.android.common.LoginStatusReceiver">
            <intent-filter>
                <action android:name="com.coolcloud.uac.LOGOUT" />
            </intent-filter>
        </receiver>
        
        <!-- 小助手消息service -->
        <service android:name="com.coolcloud.uac.android.gameassistplug.message.AssistMsgService"/>
        

        <meta-data
            android:name="DC_APPID"
            android:value="@app_id@" />
        <meta-data
            android:name="DC_CHANNEL"
            android:value="Coolpad" />
        <!-- 添加DataEye需要配置的Meta end -->
		<!-- 酷派账号  end -->
		<!-- pay activity -->
		<activity
            android:name="com.yulong.paysdk.module.main.CoolPayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|"
            android:label="@string/coolpay_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.yulong.paysdk.module.operational.OperationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/coolpay_name" >
        </activity>
        <activity
            android:name="com.yulong.paysdk.module.me.MeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/coolpay_name" >
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.yulong.paysdk.module.payment.PaymentActivity"
            android:label="@string/coolpay_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.yulong.paysdk.module.main.CoolPayActivityDialog"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/coolpay_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.yulong.paysdk.module.charge.ChargeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/coolpay_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.yulong.paysdk.module.qq.CallbackActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/coolpay_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="qwallet1105429247" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:label="@string/coolpay_name"
            android:screenOrientation="portrait" />

        <!-- alipay sdk begin -->

        <service
            android:name="com.yulong.paysdk.aidl.ExcuteFlatService"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.yulong.paysdk.aidl.ExcuteFlatService" >
                </action>
            </intent-filter>
        </service>

        <receiver android:name="com.yulong.paysdk.module.main.CoolPayActivity$ResultReceiver" >
            <intent-filter>
                <action android:name="com.yulong.paysdk.receiver.ResultReceiver.onFlatStart" />
                <action android:name="com.yulong.paysdk.receiver.ResultReceiver.onPayResult" />
            </intent-filter>
        </receiver>
        <!-- coolcloud2 -->
		<!-- pay end -->
		
    </application>

</manifest>