<?xml version="1.0" encoding="utf-8"?>
<!-- sdk version 3.5.3.1 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.type.sdk.android.papa"
    android:versionCode="21"
    android:versionName="2.1"
    android:installLocation="auto">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />
    
    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="25" />

    
    
    <!-- PaPa权限导入 start -->
    <uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.webkit.permission.PLUGIN"/>
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
	<uses-permission android:name="android.permission.GET_TASKS"/>
    <!-- PaPa权限导入 end -->

    <uses-permission android:name="android.permission.WAKE_LOCK" />
	
	<uses-feature android:glEsVersion="0x00020000" />
	<uses-feature android:name="android.hardware.touchscreen" />
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch.distinct"
        android:required="false" />

    <application
        android:name="com.type.sdk.application.TypeApplication"
        android:allowBackup="true"
		android:persistent="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

     
		<activity
            android:name="com.type.sdk.android.papa.TypeSDKSplash"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>

        <activity
            android:name="com.type.sdk.android.papa.MainActivity"
           android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="sensorLandscape"
			android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
			<intent-filter>
                <action android:name="papa.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="unityplayer.UnityActivity"
                android:value="true" />
            <meta-data
                android:name="unityplayer.ForwardNativeEventsToDalvik"
                android:value="false" />
        </activity>
        
        <!-- 以下为啪啪sdk所需要的activity 以及service -->
        <activity android:name="com.papa91.pay.pa.activity.MGMainActivity"
                  android:screenOrientation="portrait"
                  android:hardwareAccelerated="false"
                  android:theme="@style/NoTitleNoAnimation"
                  android:configChanges="orientation|keyboard|keyboardHidden|navigation|screenSize">
        </activity>
        
        <!-- 登录界面可动态修改横屏或者竖屏 -->
        <activity android:name="com.papa91.pay.pa.activity.PALoginActivity"
                  android:screenOrientation="sensorLandscape"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
                  android:configChanges="orientation|keyboard|keyboardHidden|navigation|screenSize"
                  >

        </activity>
        <!-- 支付界面可动态修改横屏或者竖屏 -->
        <activity
                android:name="com.papa91.pay.pa.activity.PaayActivity"
                android:screenOrientation="sensorLandscape"
                android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
                android:configChanges="orientation|keyboard|keyboardHidden|navigation|screenSize"
                android:label="@string/app_name">
        </activity>
        <!-- 通知界面可动态修改横屏或者竖屏 -->
        <activity android:name="com.papa91.pay.pa.activity.PANoticeDialogActivity"
                  android:screenOrientation="sensorLandscape"
                  android:hardwareAccelerated="false"
                  android:theme="@style/MyDialog"
                  android:configChanges="orientation|keyboard|keyboardHidden|navigation|screenSize">
        </activity>
        
        <activity android:name="com.papa91.pay.pa.activity.ForumProfileFavoritesActivity"
                  android:screenOrientation="portrait"
                  android:hardwareAccelerated="false"
                  android:theme="@style/NoTitleNoAnimation"
                  android:launchMode="singleTop"
                  android:configChanges="orientation|keyboard|keyboardHidden|navigation|screenSize"/>

        <activity android:name="com.papa91.pay.pa.activity.ForumProfileMessageActivity"
                  android:screenOrientation="portrait"
                  android:hardwareAccelerated="false"
                  android:theme="@style/NoTitleNoAnimation"
                  android:launchMode="singleTop"
                  android:configChanges="orientation|keyboard|keyboardHidden|navigation|screenSize"/>

        <activity android:name="com.papa91.pay.pa.activity.ForumMyPostsActivity"
                  android:screenOrientation="portrait"
                  android:hardwareAccelerated="false"
                  android:theme="@style/NoTitleNoAnimation"
                  android:launchMode="singleTop"
                  android:configChanges="orientation|keyboard|keyboardHidden|navigation|screenSize"/>

        <activity android:name="com.papa91.pay.pa.activity.ForumPostsActivity"
                  android:screenOrientation="portrait"
                  android:hardwareAccelerated="false"
                  android:theme="@style/NoTitleNoAnimation"
                  android:launchMode="singleTop"
                  android:configChanges="orientation|keyboard|keyboardHidden|navigation|screenSize"/>

        <activity android:name="com.papa91.pay.pa.activity.ForumProfileMessageReplyActivity"
                  android:screenOrientation="portrait"
                  android:hardwareAccelerated="false"
                  android:theme="@style/NoTitleNoAnimation"
                  android:launchMode="singleTop"
                  android:configChanges="orientation|keyboard|keyboardHidden|navigation|screenSize"/>

        <activity android:name="com.papa91.pay.widget.album.MyAlbumActivity"
                  android:screenOrientation="portrait"
                  android:hardwareAccelerated="false"
                  android:theme="@style/NoTitleNoAnimation"
                  android:launchMode="singleTop"
                  android:configChanges="orientation|keyboard|keyboardHidden|navigation|screenSize"/>

        <activity android:name="com.papa91.pay.pa.activity.OemListActivity"
                  android:screenOrientation="portrait"
                  android:hardwareAccelerated="false"
                  android:theme="@style/NoTitleNoAnimation"
                  android:launchMode="singleTop"
                  android:configChanges="orientation|keyboard|keyboardHidden|navigation|screenSize"/>

        <activity android:name="com.papa91.pay.pa.activity.OemDetailActivity"
                  android:screenOrientation="portrait"
                  android:hardwareAccelerated="false"
                  android:theme="@style/NoTitleNoAnimation"
                  android:launchMode="singleTop"
                  android:configChanges="orientation|keyboard|keyboardHidden|navigation|screenSize"/>

        <activity android:name="com.papa91.pay.widget.photoviewer.ImagePagerActivity"
                  android:hardwareAccelerated="false"
                  android:theme="@style/NoTitleNoAnimation"
                  android:launchMode="singleTop"
                  android:configChanges="orientation|keyboard|keyboardHidden|navigation|screenSize"/>

        <activity android:name="com.papa91.pay.pa.activity.SharePostsActivity"
                  android:hardwareAccelerated="false"
                  android:theme="@style/NoTitleNoAnimation"
                  android:launchMode="singleTop"
                  android:configChanges="orientation|keyboard|keyboardHidden|navigation|screenSize"/>

        <activity android:name="com.papa91.pay.pa.activity.ShareWebActivity"
                  android:hardwareAccelerated="false"
                  android:theme="@style/NoTitleNoAnimation"
                  android:launchMode="singleTop"
                  android:configChanges="orientation|keyboard|keyboardHidden|navigation|screenSize"/>
		<activity
                android:name="com.unionpay.uppay.PayActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:excludeFromRecents="true"
                android:label="@string/app_name"
                android:screenOrientation="portrait"/>
    
        <activity
                android:name="com.heepay.plugin.activity.WeChatNotityActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:screenOrientation="behind"
                android:theme="@android:style/Theme.NoDisplay" />

        <activity
                android:name="com.mokredit.payment.MktPayment"
                android:configChanges="orientation|keyboardHidden|screenLayout|screenSize"
                android:excludeFromRecents="true"
                android:label="@string/app_name">
        </activity>
        <!-- 支付宝-->
        <activity
                android:name="com.alipay.sdk.app.H5PayActivity"
                android:configChanges="orientation|keyboardHidden|navigation|screenSize"
                android:exported="false"
                android:screenOrientation="behind"
                android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity
                android:name="com.alipay.sdk.auth.AuthActivity"
                android:configChanges="orientation|keyboardHidden|navigation"
                android:exported="false"
                android:screenOrientation="behind">
        </activity>



        <activity
                android:name="com.mob.tools.MobUIShell"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                    android:name="Adapter"
                    android:value="com.join.mgps.adapter.ShareSdkAdapter"/>
            <intent-filter>
                <data android:scheme="db-7janx53ilz11gbs"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <data android:scheme="tencent100371282"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>


        <service android:name="com.papa91.pay.pa.service.FloatWindowService"/>
        <!-- 以上为啪啪sdk所需要的activity 以及service -->
        
        <!-- PaPa配置key start -->
        <meta-data android:name="PA_APP_KEY" android:value="@app_key@"/>
		<meta-data android:name="PA_APP_PRIVATE_KEY" android:value="@private_key@"/>
        <!-- PaPa配置key end -->
    </application>

    

</manifest>