<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anfeng.pay"
    android:versionCode="1"
    android:versionName="2.4" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="22" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/anfan_launch"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
    </application>

</manifest>