<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.type.sdk.android.nubia"
    android:versionCode="105"
    android:versionName="1.0.5"
    android:installLocation="auto">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="25" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <!-- SDK -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="nubia.permission.nbaccountservice" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.INSTALL_PACKAGES" />
	<!-- SDK end -->

    <uses-feature android:glEsVersion="0x00020000" />
    <uses-feature android:name="android.hardware.touchscreen" />
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch.distinct"
        android:required="false" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.type.sdk.application.TypeApplication"
        android:debuggable="false"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name" >
        
        <activity
            android:name="com.type.sdk.android.nubia.MainActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="sensorLandscape" >
			
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
           
            <meta-data
                android:name="unityplayer.UnityActivity"
                android:value="true" />
            <meta-data
                android:name="unityplayer.ForwardNativeEventsToDalvik"
                android:value="false" />
        </activity>

        <!-- SDK Activity -->
        <!-- ndhwsdk activity 开始 -->
        <activity
            android:name="cn.nubia.sdk.activity.AccountInstructionActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowBackground="@null"
            android:windowSoftInputMode="adjustResize" >
        </activity>

        <activity
            android:name="cn.nubia.sdk.activity.LoginActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowBackground="@null"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="cn.nubia.sdk.activity.InitActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent"
            android:windowBackground="@null"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="cn.nubia.sdk.activity.ChangeLoginAccountActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent"
            android:windowBackground="@null"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="cn.nubia.sdk.activity.RegisterActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowBackground="@null"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="cn.nubia.sdk.activity.RegisterByEmailActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowBackground="@null"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="cn.nubia.sdk.activity.ResetPwdActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowBackground="@null"
            android:windowSoftInputMode="adjustResize" >
        </activity>

        <activity
            android:name="cn.nubia.sdk.activity.ValidateEmailActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowBackground="@null"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="cn.nubia.sdk.activity.FindPwdActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowBackground="@null"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="cn.nubia.sdk.activity.FindPwdByEmailActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowBackground="@null"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="cn.nubia.sdk.activity.AvatarActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent"
            android:windowBackground="@null"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="cn.nubia.sdk.activity.ChangeAvatarActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowBackground="@null"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="cn.nubia.sdk.activity.ChangeNickActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowBackground="@null"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="cn.nubia.sdk.activity.PayActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent"
            android:windowBackground="@null"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity 
			android:name="cn.nubia.componentsdk.ui.ShowActivity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:theme="@android:style/Theme.Translucent.NoTitleBar"
			android:windowBackground="@null">
		</activity>
        
        <!-- ndhwsdk activity 结束 -->

        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <!-- alipay sdk end -->

        <!-- unionpay sdk begin -->
        <activity
            android:name="com.unionpay.uppay.PayActivity">
        </activity>
        <!-- unionpay sdk end -->
        <!-- SDK end -->

    </application>

</manifest>